@charset "utf-8";

body,
p,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
textarea,
form,
select,
input,
figure,
figcaption {
	margin: 0;
	padding: 0;
}

input {
	outline: none;
	border: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: bottom;
}

a {
	text-decoration: none;
}

a:hover {
	color: #f10180;
}

i,
em {
	font-style: normal;
}

b,
strong {
	font-weight: normal;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clear:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}

.clear {
	zoom: 1;
}