.ds-warp {
    width: 1000px;
    margin: 0 auto;
}

.ds-product {
    position: relative;
    margin-bottom: 40px;
    padding-top: 22px;
    z-index: 10;
}
.m-pic{
    float: left;
    position: relative;
}