.XQ-BX{
    width: 1000px;
    margin: 0 auto;
    _overflow: hidden;
}
.XQ-product{
    position: relative;
    margin-bottom: 40px;
    padding-top: 22px;
    z-index: 10;
}
.M-pic {
    float: left;
    position: relative;
} 
.product-text {
    position: relative;
    font-size: 0;
    padding: 12px 0;
    border-bottom: 1px #e2e2e2 dashed;
}
.other-infoCoding {
    color: #999;
    line-height: 20px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
}
.goods-fav-collect {
    color: #999;
}
.goods-fav-collect:hover{
    color: #f10180;
}
.onsell-collect {
    line-height: 16px;
    cursor: pointer;
    width: 70px;
    padding: 1px 0 1px 2px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    font-size: 12px;
    margin-left: 18px;
    vertical-align: top;
}
.collect-tips {
    font-size: 12px;
    float: right;
}
.onsell-collect .star-icon {
    display: inline-block;
    margin-right: 5px;
    vertical-align: top;
}
.star-empty-icon {
    background-image: url(../images/xiangqing/detail-sprites-hash-5216deac.png);
    background-position: -187px -170px;
    width: 16px;
    height: 15px;
}
.bdshare-button-style0-16.share_button {
    height: 24px;
}
.share_button, .share_text {
    position: relative;
    height: auto;
    line-height: normal;
}
.bdsharebuttonbox {
    color: #333;
    float: right;
}
.bdshare-button-style0-16 .share_tit_wrap {
    padding: 0 9px;
    height: 22px;
    line-height: 22px;
}
.share_button .share_tit_wrap, .share_text .share_tit_wrap {
    font-size: 0;
    display: inline-block;
    background: #fafafa;
    border: solid 1px #c2c2c2;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    z-index: 100;
    transition: border .3s;
}
.bdshare-button-style0-16 .share_tit_wrap .tit_icon {
    background-position: -16px -19px;
    display: inline-block;
    width: 15px;
    height: 12px;
    margin-right: 4px;
    _position: relative;
    _top: 3px;
    background: url(../images/xiangqing/share-sef3db69c23.png) no-repeat;
}
.bdshare-button-style0-16 .share_tit_wrap .tit_cnt {
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    _position: relative;
    _top: 3px;
}
.bdshare-button-style0-16 .share_tit_wrap .tit_arrow {
    border: solid 3px transparent;
    _border-color: #fff;
    border-top-color: #999;
    margin-left: 2px;
    top: 0;
    _top: 3px;
}
.bdshare-button-style0-16 .share_hide_sns {
    padding: 5px 9px;
    top: 22px;
    left: 0;
    position: absolute;
    border: solid 1px #c2c2c2;
    border-radius: 2px;
    border-top-left-radius: 0;
    background: #fff;
}
.bdshare-button-style0-16 .share_gap {
    margin-right: 8px;
    width: 20px;
    line-height: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    font-size: 18px;
    outline: 0;
    text-decoration: none;
    background: url(../images/xiangqing/share_icon.png) no-repeat;
    cursor: pointer;
    vertical-align: top;
    float: none;
}
.bdshare-button-style0-16  .share_gap_one{
    background-position: -30px -40px;
}
.bdshare-button-style0-16  .share_gap_two{
    background-position: -240px -40px;
}
.bdshare-button-style0-16  .share_gap_three{
    background-position: -210px -40px;
}
.bdsharebuttonbox .share_gap_last {
    margin-right: 0;
    background-position: 0px -40px;
}
.pi-promise-box {
    padding: 15px 0;
    overflow: hidden;
    position: relative;
    width: 420px;
}
.pi-promise-list {
    width: 1000px;
    padding: 9px 0;
    zoom: 1;
}
.pi-promise-item {
    position: relative;
    float: left;
    color: #bcb7ba;
    padding-left: 30px;
    width: 132px;
    text-align: left;
    font-size: 14px;
    height: 18px;
    line-height: 18px;
    margin-left: 50px;
    _display: inline;
}
.item-percent {
    background-image: url(../images/xiangqing/detail-sprites-hash-5216deac.png);
    background-position: -637px -66px;
    width: 30px;
    height: 30px;
}
.pi-promise-icon {
    position: absolute;
    top: -7px;
    left: 0;
}
.pi-promise-item a {
    color: #bcb7ba;
    margin-left: 15px;
}
.pi-promise-item p {
    color: #bcb7ba;
    margin-left: 15px;
}
.Product-information{
    float: right;
    width: 550px;
    position: relative;
    z-index: 100;
    min-height: 634px;
    margin-left: 20px;
}
.pi-title-box{
    color: #4d4d4d;
    margin-bottom: 10px;
    clear: both;
}
.pib-title-class {
    width: 340px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #777578;
    line-height: 22px;
    min-height: 22px;
}
.pib-title-detail {
    font-size: 16px;
    color: #333;
    max-height: 40px;
    overflow: hidden;
    line-height: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 700;
}
.goods-description-title {
    font-size: 14px;
    color: #999;
    max-height: 85px;
    overflow: hidden;
}
.pi-price-box {
    background: url(../images/xiangqing/detail_price_bg_l-hash-8ee789be.png) no-repeat #faf5f8;
    margin-bottom: 20px;
    padding-bottom: 15px;
    position: relative;
    z-index: 13;
    _width: 500px;
    *padding-left: 20px;
    _padding-left: 0;
}
.pbox-price {
    font-size: 48px;
    margin-left: 20px;
    display: inline-block;
    position: relative;
    color: #f43499;
    line-height: 1.2;
    margin-top: 13px;
    *display: inline;
    *zoom: 1;
}
.pbox-yen {
    font-size: 20px;
    font-family: arial;
}
.pi-dicount-box {
    display: inline-block;
    z-index: 30;
    position: relative;
    *zoom: 1;
}
.pbox-market {
    padding: 0 10px 0 10px;
    color: #999;
    float: left;
    font-size: 16px;
}
.pbox-off {
    position: relative;
    font-size: 16px;
    color: #999;
    text-align: center;
    padding: 0 5px;
    *zoom: 1;
    float: right;
}